@model List<Empleado>

@{
    ViewData["Title"] = "EmpleadosAlmacenadosOK";
}

<h1>EmpleadosAlmacenados</h1>

<p>
    <a asp-controller="Empleados" asp-action="SessionEmpleadosV5">Volver a almacenar empleados</a>
</p>
@if (Model == null)
{
    <h2>No existen empleados en sesion</h2>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Apellido
                </th>
                <th>
                    Oficio
                </th>
                <th>
                    Salario
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Empleado item in Model)
            {
                <tr>
                    <td>
                        @item.Apellido
                    </td>
                    <td>
                        @item.Oficio
                    </td>
                    <td>
                        @item.Salario
                    </td>
                    <td>
                        <a asp-controller="Empleados" asp-action="EmpleadosAlmacenadosV5" asp-route-idempleado="@item.IdEmpleado">Eliminar de favoritos</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
