<h2>Suma Salarial</h2>
<p>
	<a asp-controller="Empleados" asp-action="SessionSalarios">
		Volver a salarios empleados
	</a>
</p>
@if(Context.Session.GetString("SUMASALARIAL") == null){
	<h2>No tiene almacenados salarios en Session</h2>
}else{
	<h2>Suma salarial: @Context.Session.GetString("SUMASALARIAL")</h2>
}